<div>
  <h2 class="name-heading">
    <%= @article.title %> <br />
    <small>
      created <%= time_ago_in_words(@article.created_at) %> ago by <%=  %>
    </small>
    <br />
  </h2>
</div>
<br />
<div class="col-md-8">
  <p class="article-body"><%= simple_format(@article.body) %></p>
</div>
<div class="footer">
  <% if user_is_authorized_for_article?(@article) %>
    <%= link_to "Edit", edit_article_path(@article), class:'btn btn-success' %>
    <span class='spacer'></span>
    <%= link_to "Delete", [@article], method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you suer you want to delete this article?'} %>
  <% end %>
</div>
